body {
    background-color: cadetblue;
}
h1 {
    color: black;
    text-align: center;
}
.friend {
    background-color: coral;
}
h3 {
 text-transform: uppercase; 
 color: cornsilk;
 text-align: center;  
}